In [5]:
##Load partial Data

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("TG_STAID000001.txt",skiprows=20,parse_dates=["    DATE"])

In [10]:
df[["   TG", " Q_TG"]]

          TG   Q_TG
0         21      1
1         46      1
2         31      1
3         37      1
4         31      1
...      ...    ...
59469  -9999      9
59470  -9999      9
59471  -9999      9
59472  -9999      9
59473  -9999      9

[59474 rows x 2 columns]