In [1]:
##Load partial Data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("TG_STAID000001.txt",skiprows=20,parse_dates=["    DATE"])

In [4]:
df[20:30]

    STAID   SOUID       DATE     TG   Q_TG
20      1   35381 1860-01-21    -11      1
21      1   35381 1860-01-22     -1      1
22      1   35381 1860-01-23      2      1
23      1   35381 1860-01-24      7      1
24      1   35381 1860-01-25     10      1
25      1   35381 1860-01-26      5      1
26      1   35381 1860-01-27    -21      1
27      1   35381 1860-01-28    -10      1
28      1   35381 1860-01-29    -25      1
29      1   35381 1860-01-30      5      1